		#social-media{
					font-size: 1em;
					width: 800px;
					margin: 10px;
					padding: 30px;
					border-bottom: 	3px solid #4F4F4F;
					border-top: 	3px solid #4F4F4F;
					border-right: 	3px solid #80BFFF;
					border-left: 	3px solid #80BFFF;
					background-color: 	#FAFAFA;}

/*
 width: 850px; and padding: 30px controls the display area of all of the content located with the social media div id attribute.
*/
					
			
					#social-media h1{
							margin: 1px;
							padding: 10px;
							border-bottom: 	3px solid #80BFFF;
							border-top: 	3px solid #80BFFF;
							border-left: 	3px solid #4F4F4F;
							color: silver;
							float: left;}
		
					#social-media span{
							font-family: arial;
							font-weight: strong;
							text-decoration: ;}
	
					#social-media a{
							border: 1px solid silver;
							padding: 5px;
							background-color: white;}
